input {
	outline: none;
	border: none;
	background: var(--input-bgr);
	font-size: 16px;
	width: 100%;
	padding: .7rem;
	border-radius: .4rem;
	margin: 0 0 1.5rem 0;
	color: #000;
	transition: box-shadow .2s ease-in-out;
}

input:focus {
	box-shadow: 0 0 4px var(--input-focus);
}

input::placeholder {
	color: rgba(0, 0, 0, .375);
}

.login-card {
	display: flex;
	flex-direction: row;
	text-align: center;
	border-radius: 1rem;
	background: var(--background);
	width: 80%;
	max-width: 600px;
	box-shadow: 0px 0px 20px rgba(24, 91, 191, .708);
}

.login-card-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	padding: 2rem;
	flex: 4;
}

.login-card-right {
	flex: 3; /* Right side takes up 1/3 of the space */
}

.login-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
	width: 100%;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	user-select: none;
	background: var(--primary-accent);
}

.login-header {
	margin: 0 0 2.5rem 0;
}

.submit-btn {
	margin: 1.2rem 0 0 0;
	padding: .4rem;
	width: 100%;
	cursor: pointer;
	border-radius: .4rem;
	outline: none;
	border: none;
	background: var(--button-color);
	transition: background .2s ease-in-out;
}

.submit-btn:hover {
	background: var(--primary-accent);
}

.forgot-password {
	margin: 2rem 0 0 0;
	float: left;
	transition: ease .2s;
	color: var(--text-color);
}

.forgot-password:hover {
	color: var(--primary-accent);
}
